<h1>Welcome to the Maester's Challenge!</h1>

<div class="center"> The Maester's Challenge will give the user the chance to test their A Song of Ice and Fire trivia skills with a group of medium difficulty questions. For the purpose of keeping this demonstration short, The Maester's Challenge will be restricted to 10 questions. When deployed into production the Maester's challenge will be 100 questions in length. Those 100 questions should be pulled randomly from a pool of 1000 questions or more, so as to give the user some replay value.

<br /><br />
Additionally, a timer may need to be added. If this was actually on the internet, anonymous users would just look the answers up before they answered them...

<br /><br />
</div>
<div class="center">
       <%= link_to "Take The Maester's Chalenge", challenge_maester_start_path %>
</div>

<%= form_tag({:controller => "challenge_maester", :action => "start"}, :method => "get") do %>
  <div class="center">
         <%= submit_tag("Begin!!!!", :class => "submit") %>
  </div>
<% end %>
